<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">


<link rel="stylesheet" href="/styles/header.css" type="text/css"></link>
<header class="header-container">

  <!-- NAV BUTTONS -->

  <form method="GET" action="/maps">
    <a href="/">
      <p id="logo">WikiMaps</p>
    </a>
  </form>
  
  <div class="right-side">
    
    <% if (!user) { %>

  <form method="GET" action="/register">
    <button type="button" class="btn btn-outline-dark">Sign up</button>
  </form>

  <form method="GET" action="/login">
    <button type="button" class="btn btn-outline-dark">Login</button>
  </form>

  <% } else { %>

      <p id="user-name"> Logged in as <%= user.name %></p>
      <div id="buttons">

        <a href="/maps/new">
          <button type="button" class="btn btn-outline-dark">Create map</button>
        </a>
        <a href="/users/<%=user.id%>">
          <button type="button" class="btn btn-outline-dark">My profile</button>
        </a>
        <form method="POST" action="/logout">
          <button type="submit" class="btn btn-outline-dark">Logout</button>
        </form>
      </div>

    <% } %>
</div>



</header>
