<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<header class="header-container">

  <!-- NAV BUTTONS -->

  <form method="GET" action="/wikimaps">
    <button type="button" class="btn btn-outline-success">WikiMaps</button>
  </form>

  <form method="GET" action="/register">
    <button type="button" class="btn btn-outline-primary">Register</button>
  </form>

  <form method="GET" action="/login">
    <button type="button" class="btn btn-outline-primary">Login</button>
  </form>
</header>
