<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map ID</title>

   <!--Leaflet CSS-->
   <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin="" />
 <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>


  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/mapid.css" type="text/css" />

</head>
<body>
  <%- include('partials/_header') %>
  <main id="main-content">



    <div class="form">

      <form method='POST' action="/maps/<%=map_id%>/points/add">
        Title:
        <input name="title"></input>
        Description:
        <input name="description"></input>
        Photo If You Like
        <input name="photo_url"></input>
        Lat:
        <input id="form-val-lat" name="lat"></input>
        Long:
        <input id="form-val-long" name="long"></input>
        <button class="button-pointid">Add Point</button>
      </form>

    </div>

    </main>


      <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
      <script type="text/javascript" src="/scripts/create_point.js"></script>
</body>

</html>
