<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map ID</title>


  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/createMap.css" type="text/css" />


</head>
<body>
  <%- include('partials/_header') %>
  <main id="main-content">



  <div class="form">

    <form class="createMap-form" method='POST' action="/maps">
      Title:
      <input name="title" style="width: 25em;"></input>
      Description:
      <textarea name="description" style="height: 10em;"></textarea>
      <button type="button" class="btn btn-outline-dark" style="margin-top: 2em;
      width: 50%;" class="button-mapid">Add Map</button>
    </form>

  </div>



  </main>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/create_map.js"></script>

</body>
</html>
