<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map ID</title>


  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/mapid.css" type="text/css" />


</head>
<body>
  <%- include('partials/_header') %>
  <h2 class="mapid-h2">Best French Onion Soup In Montreal</h2>

  <div>
    <p class="mapid-user">Map belongs to: USER1</p>
    <p class="mapid-p">You can find the best cheesiest french onion soups in Montreal for a reasonable price</p>


    <button class="button-mapid">Add to Favourites</button>

    <div class="mapid"></div>


  </div>


</body>
</html>
