<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Map ID</title>


  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/mapid.css" type="text/css" />


</head>
<body>
  <%- include('partials/_header') %>
  <h2 class="mapid-h2" id="title">Best French Onion Soup In Montreal</h2>

  <div class="test2">
    <div class="test1">
    <p class="mapid-user">Map: Name of Point goes here</p>
    <p class="mapid-p">Random fact about point goes here</p>

  <!--
    <form action="/">
      <label for="title">Map Title</label><br>
      <input type="text" id="title" name="title"><br>
      <input type="submit" value="Submit">
    </form> -->
  <!-- http://localhost:8080/?title=New+York -->

  </div>

    <div class="mapid"></div>

  </div>
</body>
</html>
