#main-content {

  background-color: #F5F0E4;
  padding-top: 10em;
  padding-bottom: 40em;
  display: flex;
  justify-content: center
}
.button-mapid {
  margin-top: 2em;
  width: 50%;
}
.createMap-form {
  display: flex;
  flex-direction: column;
  padding-left: 0em;
}
