.div-container {
  // display: flex;
  // justify-content: center;
  // // border: 2px solid black;
  // height: 100%;
  // // width: 100%;
  background-color: #F5F0E4;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //margin-bottom: 4em;
}
.main-section-box {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding-top: 3em;
}

.title {
  background-color: #F5F0E4;
  padding: 0 5em 0 5em;
}

.par {
  margin-bottom: 0;
}
// .box2 {
//   width: 300px;
//   height: 300px;
// }
// .box3 {
//   width: 300px;
//   height: 300px;
// }
// .box4 {
//   width: 300px;
//   height: 300px;
// }
// .box5 {
//   width: 300px;
//   height: 300px;
// }
// .box6 {
//   width: 300px;
//   height: 300px;
// }
