.index-main {
  display: flex;
  padding-top: 50px;
  width: 80%;
  height: 80%;
  align-content: space-between;
  columns: 2;
  background-color: #F5F0E4;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

