.index-main {
  display: flex;
  padding-top: 50px;
  width: 80%;
  height: 80%;
  align-content: space-between;
  columns: 2;
  background-color: #F5F0E4;
  text-align: start;
}

.heading {
  font-family: 'Cormorant', serif;
  font-size: 62px;
  text-align: start;
  padding-left: 10%;
}

.par {
  font-family: 'Cormorant', serif;
  font-size: 24px;
  text-align: start;
  padding-left: 10%;
}