.test1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.mapid-h2 {
  display:flex;
  justify-content: center;
  margin-top: 2em;
  border:2px solid black;
}

.test2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8em;
}

.mapid {
  width: 30em;
  height: 25em;
  background-color: black;
  border: 2px solid black;
  align-items: baseline;
}

.h2-createPoint {
  display: flex;
  margin-left: 6em;
}
